#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  border: 4px solid firebrick;
  outline: 3px solid black;
  border-radius: 5px;
  background-color: lightgray;
  width: 100%;
  padding: 8px;
  padding-bottom: 6px;
}
.header-logo {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 48px;
}
.search-nav {
  display: flex;
  justify-content: space-around;
  margin: 8px auto;
}
.nav-clicks {
  font-size: 24px;
  color: blue;
  
  display: inline-block;
  margin: 0 auto;
}
.search-area {
  display: grid;
  grid-template-columns: 75% 25%;
  margin-bottom: 0px;
}
#search-input {
  background-color: whitesmoke;
  color: black;
  border: 3px solid gray;
  padding: 5px;
  margin-right: 3px;
}
#search-submit {
  font-weight: 900;
  color: white;
  background-color: firebrick;
  border: 3px solid gray;
  padding: 5px;
  margin-left: 3px;
}
